<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
            <div class="container">
                <img src="/splash.png">
                <h1>En enkel webapplikasjon for administrasjon av lager</h1>
            </div>
        </div>
        <h2>NB! Denne applikasjonen er kun for DEMO!</h2>
        <h3>Applikasjonen inneholder ingen sikkerhet, hvem som helst kan laste opp,ned eller slette plukklister.</h3>
</body>

</html>
